html,
body {
    height: 100%;
    min-height: 100%;
    /* for firefox */
}
* {
    margin: 0;
    padding: 0;
}
ol,
ul {
    list-style: none;
}
body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    font-family: myFirstFont;
    color: #cfd2c8;
    overflow-x: hidden;
}

/******************
FONTS
******************/

@font-face {
    font-family: myFirstFont;
    src: url(./fonts/Dosis-Regular.otf);
}
@font-face {
    font-family: mySecondFont;
    src: url(./fonts/AlexBrush-Regular.ttf);
}
@font-face {
    font-family: myThirdFont;
    src: url(./fonts/CaviarDreams.ttf);
}

/************************
 Links etc.
*************************/

a:hover {
    color: #cfd2c8;
}
a:visited {}
p {
    font-family: myFirstFont;
}

/************************
            Navigation
    *************************/

.nav-wrapper {
    position: absolute;
}
.nav {
    position: fixed;
    height: 70px;
    width: 100%;
    color: #cfd2c8;
    text-align: right;
    background-color: black;
    z-index: 1;
    opacity: .8;
}
.nav li {
    display: inline-block;
    height: 45px;
    width: 10%;
    margin: 0;
    font-size: 14px;
    padding: 25px 2% 0 2%;
    text-align: center;
}
.nav li:last-child {
    margin-right: 10px;
}
.nav a {
    text-decoration: none;
    color: #cfd2c8;
}
.nav li:hover {
    background: #333;
}
.logo {
    position: fixed;
    float: left;
    border: 3px solid;
    margin: 10px 0 0 15px;
    padding: 2px 5px 2px 2px;
    z-index: 2;
}
.active {
    background: #25aae1;
}

/************************
         Intro
    *************************/

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.intro {
    background-color: #2f4f4f;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/**Title***/

.title {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
         justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
         align-items: center;
}
.name {
    visibility: hidden;
    font-family: mysecondfont;
    font-size: 8em;
    position: relative;
    top: 60px;
    left: 10px;
}
.color {
    color: #589472;
}
.sub-title-one {
    margin: 40px 0 0 20px;
}
.sub-title-two {
    font-size: 1.2em;
    line-height: 1.5em;
    color: black;
    position: relative;
    bottom: 20px;
    left: 20px;
}
.fade-in {
    width: 70%;
    height: 1.5em;
    position: absolute;
    background-color: #2f4f4f;
}

/************************
    Gallery
*************************/

.gallery-height {
    height: 120%;
}
.gallery {
    background: #e8e8e8;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    font-size: 2em;
}
.gallery h1 {
    margin-top: 100px;
    text-align: center;
}

.gallery h1,
.gallery h2,
.gallery p {
    color:black;
}

.gallery-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.friendz-capture {
    width: 830px;
}

.friendz-description {
      flex: 1;
  /* Grow to rest of container */
    color: black;
    padding: 20px;
}

/************************
         About
    *************************/

.about-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    color: black;
    background-color: #589472;
    border-bottom: 1px solid black;
}

.about-wrapper:before {
content: " ";
    display:block;
    position: relative;
top:0px;left:0px;
    width:100%;
    height:36px;
    background: linear-gradient(#2B3A48 0%, transparent 0%), linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 linear-gradient(45deg, #272220 33.33%, #2B3A48 33.33%) 0 0%;
    background: -webkit-linear-gradient(#2B3A48 0%, transparent 0%), -webkit-linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 -webkit-linear-gradient(45deg, #272220 33.33%, #2B3A48 33.33%) 0 0%;
    background: -o-linear-gradient(#2B3A48 0%, transparent 0%), -o-linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 -o-linear-gradient(45deg, #272220 33.33%, #2B3A48 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
    }
.about {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0;
       -moz-box-flex: 1;
        -ms-flex: 1 0 0;
            flex: 1 0 0;
    border-right: 1px solid black;
}
.skills {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
       -moz-box-flex: 1;
        -ms-flex: 1 0;
            flex: 1 0;
    background-color: #557B83;
}
.about,
.skills {
    padding: 30px;
    min-width: 250px;
}
.about h1,
.skills h1 {
    text-align: center;
}
.about p,
.skills p {
    font-size: 1.5em;
    margin: 10px 0;
}

/************************
         Contact
    *************************/

.contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 150px;
    color: white;
    background-color: black;
}
.contact:hover {
    cursor:pointer;
}

.contact img {
    margin: 0 auto;
    position: relative;
    bottom: 137.5px;
}
.facebook {
}
.email {
    color: ;
}
.call{
    color: ;
}
.LI:hover {
    background-color: #0077b5;
}
.facebook:hover {
    background-color: #3b5998;
}
.email:hover {
    background-color: orangered;
}
.call:hover{
    background-color: firebrick;
}

.LI,
.facebook,
.email,
.call{
    display: flex;
   text-align: center;
    justify-content: center;
    align-items: center;
}
.contactColumn {
    flex: 1;
}

i {}
/******************************
  Media Queries  Desktop First
*/


/* Large screens up to 1830px ----------- */

@media (max-width: 1830px) {}

/* Mid size screens up to 1550px ----------- */

@media (max-width: 1550px) {}

/* Mid size screens up to 1265px ----------- */

@media (max-width: 1265px) {}

/* Screens up to 1120px ----------- */

@media (max-width: 1120px) {}

/* Screens up to 1050px ----------- */

@media (max-width: 1050px) {}

/* Screens up to 945px ----------- */

@media (max-width: 945px) {}

/* Screens up to 800px ----------- */

@media (max-width: 800px) {}

/* Screens up to 750px ----------- */

@media (max-width: 750px) {
    .name {
        font-size: 5em;
    }
    .contact img {
        display: none;
    }
}

/* Screens up to 700px ----------- */

@media (max-width: 700px) {}

/* Screens up to 670px ----------- */

@media (max-width: 670px) {}

/* Screens up to 648px ----------- */

@media (max-width: 648px) {
    .about {
        border-right: none;
    }
    .about,
    .skills {
        border-bottom: 2px solid black;
    }
}

/* Screens up to 580px ----------- */

@media (max-width: 580px) {}

/* Screens up to 500px ----------- */

@media (max-width: 500px) {
    .hi {
        position: absolute;
        bottom: 410px;
        left: 40px;
    }
    .sub-title-one {
        margin: 50px 0 0 20px;
    }
}

/* Screens up to 425px ----------- */

@media (max-width: 425px) {
    .name {
        font-size: 4.5em;
    }
    .sub-title-one {
        font-size: .8em;
    }
}